.spinner-container{
    z-index: 100;
    width: 55%;
    height: 65%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.285);
    padding-left: 45%;
    padding-top: 20%;
    display: none;
}

.custom-spinner {
    width: 100px !important;
    height: 100px !important;
    position: absolute !important;
}

:host ::ng-deep .custom-spinner circle{   
    stroke: red;
}