<mat-drawer-container class="container">
    <mat-drawer class="menu" mode="side" opened>
        <div>
            <img class="logo" src="/assets/img/logo.png"/>
        </div>
        <div class="section selected">
            <img *ngIf="userData && userData.photoURL" [src]="userData.photoURL"/><span>Chat</span>
        </div>
        <div class="section">
            <button type="button">Perfil</button>
        </div>
        <div class="logout">
            <span (click)="logout()">Cerrar Sesión</span>
        </div>
    </mat-drawer>
    <mat-drawer-content class="page-content">
        Chat content!
    </mat-drawer-content>
</mat-drawer-container>
  