<mat-drawer-container class="container">
    <mat-drawer class="menu" mode="side" opened>
        <div>
            <img class="logo" src="/assets/img/logo.png"/>
        </div>
        <div class="section selected">
            <div class="image">
                <img class="chat" src="/assets/img/chat.png"/>
            </div>
            <div i18n class="text">Chat</div>
        </div>
        <div class="section" routerLink='/profile'>
            <div class="image">
                <img *ngIf="userData && userData.photoURL" [src]="userData.photoURL"/>
            </div>
            <div i18n class="text">Perfil</div>
        </div>
        <div class="logout">
            <span i18n (click)="logout()">Cerrar Sesión</span>
        </div>
    </mat-drawer>
    <mat-drawer-content class="page-content">
        Chat content!
    </mat-drawer-content>
</mat-drawer-container>
  